# Byte-compiled / optimized / DLL files
__pycache__/


# Virtual environments
venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/
.coveragerc

# Project specific
logs

# jupyter
notebooks/.ipynb_checkpoints
.ipynb_checkpoints/